@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB;
  --secondary: #FCD34D;
  --accent: #3B82F6;
  --light: #FFFFFF;
  --dark: #1E293B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 0;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .full-screen {
    @apply py-32;
  }
}
